<div class="askrobot-app">
    <div class="block">
        <h1>Default</h1>

        <default-askrobot-card></default-askrobot-card>
    </div>

    <div class="block">
        <h1>Light Theme Default</h1>
        <default-askrobot-card [theme]="'light'"></default-askrobot-card>
    </div>

    <div class="block">
        <h1>Loading</h1>
        <loading-askrobot-card></loading-askrobot-card>
    </div>


    <div class="block">
        <h1>No Status</h1>
        <no-status-askrobot-card></no-status-askrobot-card>
    </div>

    <div class="block">
        <h1>Custom Style Status</h1>
        <custom-style-status-askrobot-card></custom-style-status-askrobot-card>
    </div>

    <div class="block">
        <h1>Warning</h1>
        <warning-askrobot-card></warning-askrobot-card>
    </div>

    <div class="block">
        <h1>Custom lines any number</h1>
        <custom-lines-askrobot-card></custom-lines-askrobot-card>
    </div>

    <div class="block">
        <h1>Not expandable</h1>
        <not-expandable-askrobot-card></not-expandable-askrobot-card>
    </div>

    <div class="block">
        <h1>Not expandable</h1>
        <not-expandable-askrobot-card></not-expandable-askrobot-card>
    </div>

    <div class="block">
        <h1>Search action</h1>
        <show-search-askrobot-card></show-search-askrobot-card>
    </div>
    <div class="block">
        <h1>Rating action</h1>
        <show-rating-askrobot-card></show-rating-askrobot-card>
    </div>
    <div class="block">
        <h1>Both actions</h1>
        <show-both-actions-askrobot-card></show-both-actions-askrobot-card>
    </div>
    <div class="block">
        <h1>Light theme with all props</h1>
        <light-theme-askrobot-card></light-theme-askrobot-card>
    </div>
</div>