.root {
  @apply relative w-full mb-12;
  border-radius: 20px;
  background: linear-gradient(114deg, #7D67FF -18.78%, #8976FF 14.29%, #6EA8FF 48.6%, #42D18C 98.83%);
  overflow: clip;
}

.wrapper {
  @apply flex justify-center relative;
}

.input {
  @apply w-[100%] py-7 outline-none;
  color: var(--white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  letter-spacing: 0.16px;
  background: transparent;

  &::placeholder {
    color: var(--white);
    opacity: 0.8;
  }
}

.send {
  @apply absolute top-[30%] w-8 h-8 rounded-full flex items-center justify-center cursor-pointer;
}

.arrow {
  transform: rotate(45deg);
  opacity: 0.8;
}

.separator {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.disclaimerRoot {
  @apply px-8 py-4;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.disclaimer {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
  letter-spacing: -0.12px;
  opacity: 0.5;
}

.openCloseRoot {
  padding: 12px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.openCloseText {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
}

.chevron {
  width: 12px;
  height: 12px;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  transition: all 0.15s ease-in-out;
}

.chatRoot {
  @apply flex flex-col;
  height: 0;
  min-height: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  overflow-y: scroll;
  overflow-x: clip;
  scroll-behavior: smooth;
}

.chatRootOpened {
  @apply pb-5;
  height: 452px;
  min-height: 452px;
  opacity: 1;

  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
